@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/poppins-v21-latin-500.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Off-white: #eaeaeb;
  --White: #f9fafb;
  --Dark-grayish-blue: #3a4750;
  --Grey: #808080;
  --Black: #000000;
}

body {
  padding: 1rem;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--Off-white);
}

h1 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 5rem;
  font-size: clamp(2rem, 5vw, 5rem);
}

.cat-list-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.cat-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  background-color: var(--White);
  overflow: hidden;
}

.cat-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.catimage {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.catbreed {
  color: var(--Dark-grayish-blue);
  font-weight: 500;
  font-size: 2rem;
}
.catdescription {
  color: var(--Grey);
  font-size: 1.2rem;
}
.catlocation {
  color: var(--Black);
  font-size: 1.2rem;
}